<?xml version="1.0" encoding="UTF-8"?>
<suite name="Simple Reporter Suite">

    <parameter name="pdfngreport-properties" value="pdfngreport.properties" />
  
    <listeners>
        <listener class-name="com.uttesh.pdfngreport.PDFReportListener" />
    </listeners>

    <test name="Google Test">
        <classes>
            <class name="com.uttesh.pdfngreport.GoogleTest" />
        </classes>
    </test>
  
    <test name="Amazon Test">
        <classes>
            <class name="com.uttesh.pdfngreport.AmazonTests" />
        </classes>
    </test>
    
    <test name="Sunalps Test">
        <classes>
            <class name="com.uttesh.pdfngreport.SunalpsTest" />
        </classes>
    </test>
	
	<test name="SmitJain skip count Test">
        <classes>
            <class name="com.uttesh.pdfngreport.SmitJainTest" />
        </classes>
    </test>
	
    <test name="Deepalicr long method and test name Test">
        <classes>
            <class name="com.uttesh.pdfngreport.DeepalicrbiggggggggggggggggggggggggggggtextTest" />
        </classes>
    </test>
	
	 <test name="Dynamic data provider test name ">
        <classes>
            <class name="com.uttesh.pdfngreport.dynamic_test_name.DynamicDataProviderTestName" />
        </classes>
    </test>
	
</suite>

